body {
    background-image: url(./components/images/VK\ test.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
   background-color:blue;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   padding: 10px;
   text-align: center;
   margin-top: 650px;
   border-radius: 20px 20px 30px 20px;
}
button {
    background-color: yellow;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
    padding: 4px;
    border-radius: 30px 30px 30px 30px;
    margin-left: 250px;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;&display=swap");

* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace;
}
nav {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    background: #fff;
    width:50px;
    overflow: hidden;
    transition: width 0.2s linear;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

span {
    font-weight: bold;
    padding: 15px;
    font-size: 18px;
    text-transform: uppercase;
}
a {
    position: relative;
    color: rgb(85, 83, 83);
    font-size: 14px;
    display: table;
    width: 300px;
    padding: 10px;
}
.fas {
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;
}
.nav-item {
    position: relative;
    top: 12px;
    margin-left: 25px;
}
a:hover {
    background: #eee;
}
nav:hover {
    width: 280px;
    transition: all 0.5s ease;
}
.logout {
    position: absolute;
    bottom: 0;
}